<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swapcard Test</title>
</head>
<body>
<style>
    body {  background: #f0f2f5;  }
</style>
<div id="app"></div>
<script src="/js/app.js"></script>
</body>
</html>